/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
  }
  
  .button {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 25%;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"] {
    width: 100%;
    margin-top: 5px;
    padding: 8px 0;
    padding-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:first-child {
    background-color: #4CAF50;
    color: white;
  }
  
  button:last-child {
    background-color: #008CBA;
    color: white;
  }
  